[phases.setup]
nixPkgs = ["php83", "php83Extensions.gd", "php83Extensions.zip", "php83Extensions.intl", "php83Extensions.mbstring", "php83Extensions.pdo_mysql", "php83Extensions.bcmath", "php83Extensions.xml", "nodejs_20", "npm-9_x"]

[phases.install]
cmds = [
    "npm ci",
    "composer install --no-dev --optimize-autoloader"
]

[phases.build]
cmds = [
    "npm run build",
    "php artisan config:cache",
    "php artisan route:cache",
    "php artisan view:cache"
]

[start]
cmd = "php artisan migrate --force && php artisan serve --host=0.0.0.0 --port=${PORT:-8080}"
